# ============================================
# Database Configuration
# ============================================

# LOCAL development:
DATABASE_URL="file:/home/z/my-project/db/custom.db"

# VERCEL / Turso (production):
DATABASE_URL="libsql://tienda-oficial-fast-page-pro.aws-us-east-1.turso.io?authToken=TU_TOKEN_AQUI"
